/src/designpatterns/LAB 1/nbproject/private/
/src/LAB 1/nbproject/private/
/JavaApplication33/nbproject/private/
/JavaApplication33/build/
/Lab1/build/
/Lab1/nbproject/private/
/fa23LabMidTErm/nbproject/private/
/fa23LabMidTErm/build/
